@using Mvc.Html.Bootstrap
@model Mvc.Bootstrap.Web.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.BootstrapValidationSummary("Please fix the following errors.");

    <fieldset>
        <legend>Change Password Form</legend>
            @Html.ControlGroupFor(m => m.OldPassword)
            @Html.ControlGroupFor(m => m.NewPassword)
            @Html.ControlGroupFor(m => m.ConfirmPassword)
        <div class="form-actions">
            @Html.Button("Change password", ButtonType.Primary, ButtonSize.Default, ButtonTag.InputSubmit)
        </div>
    </fieldset>
}