@using Mvc.Html.Bootstrap
@model Mvc.Bootstrap.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<div class="row-fluid">
    <div class="span12">
        <h1>@ViewBag.Title.</h1>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <h2>Use a local account to log in.</h2>

    @using (Html.BeginForm(FormType.Horizontal)) {    
        @Html.AntiForgeryToken()
        @Html.BootstrapValidationSummary("Please fix the following errors.");
        <fieldset>
            <legend>Log in Form</legend>
            @Html.ControlGroupFor(m => m.UserName)
            @Html.ControlGroupFor(m => m.Password)
            @Html.ControlGroupFor(m => m.RememberMe)
            <div class="form-actions">
                @Html.Button("Log in", ButtonType.Primary, ButtonSize.Default, ButtonTag.InputSubmit)
            </div>
        </fieldset>
        <p>@Html.ActionLink("Register", "Register") if you don't have an account.</p>
    }
    </div>

    <div class="span6" id="socialLoginForm">
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/mvc.html.bootstrap.js"></script>
}
